body{
   text-align: center;
}
p{
    text-align: center;
    font-family: Sunday Grapes;
}
@font-face{
    font-family: Sunday Grapes;

    /*Caso a fonte esteja na mesma pasta*/
    src: url("Sunday\ Grapes.ttf");
}